<section>
    <div class="problem2-container">
        <p>hello</p>

        <input id="chat-input" type="text" />

        <button id="btn">send</button>

        <p class="test">test</p>
        <div id="chat"></div>
    </div>

</section>