<!-- only logged in user and admin can access the context of this page  -->
<% if(status == 'true'){ %>
<p>you are admin</p>
<% }else{ %>
<p> you are normal user </p>

<%} %>
<!-- you are user -->



<a href="/logout">logout</a>