<section>
    <article>
        <form action="/logIn" method="POST">
            <h2>Login</h2>
            <label for="inputEmail">Email address</label>
            <input type="email" name="email" id="userEmail" placeholder="Email address" />
            <label for="inputPassword">Password</label>
            <input type="password" name="password" id="userPassword" placeholder="Password" />
            <button type="submit">
                <h1>Login</h1>
            </button>
        </form>
        <br><br>
        <!-- <p>Create a new account:</p> -->
        <a href="/signUp">Sign up</a>
    </article>
</section>