<section>
    <article>
        <form action="/signUp" method="POST">
            <!-- name -->
            <label for="inputFirstName">Name </label>
            <input type="text" name="name" id="name" placeholder="Name" autofocus required />
            <!-- email -->
            <label for="inputEmail">Email address</label>
            <input type="email" name="email" id="email" placeholder="Email address" required />
            <!-- pw -->
            <label for="inputPassword">Password</label>
            <input type="password" name="password" id="password" placeholder="Password" required />
            <!-- <input type="isadmin" name="password" id="userPw" placeholder="Password" required /> -->
            <button type="submit">
                <h1>Sign up</h1>
            </button>
        </form>
    </article>
</section>