body {
    background: linear-gradient(to left, #1E1E1E, #686868);
    /* font-family: "Lucida Console", "Courier New", monospace; */
    place-content: center;
    justify-content: center;
    height: 100%;

}

section {
    align-content: center;
    justify-content: center;
}

.problemOne {
    font-family: "Lucida Console", "Courier New", monospace;
    color: red;
    place-content: center;
    justify-content: center;
}

/* problem Two */
.problem2-container {
    justify-self: center;
    background-color: black;
    width: 70%;
    height: 600px;
    color: rgb(20, 160, 99);
}