body {
    background: linear-gradient(to left, #1E1E1E, #686868);
    /* font-family: "Lucida Console", "Courier New", monospace; */
    place-content: center;
    justify-content: center;
    height: 100%;
}

.problemOne {
    font-family: "Lucida Console", "Courier New", monospace;
    color: red;
    place-content: center;
    justify-content: center;
}